<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Text Classification</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <script src='main.js'></script>-->
</head>

<body>
    <div class="ml-container">

		<form action="{{ url_for('predict')}}" method="POST">
		<p>Enter yout text here to be classified into cetagories tech, business, entertainment, sport, politics.
        </p>
		<!-- <input type="text" name="comment"/> -->
		<textarea name="message" rows="4" cols="50"></textarea>
		<br/>

		<input type="submit" class="btn-info" value="predict">
        <br/>

        <p> Enter text was: {{ text }} </p>
        <p3> This data classifies as:<b>{{ data }}</b> </p3>
		
	</form>


</body>

</html>